<!DOCTPYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Image Preview Tool</title>
<link rel="stylesheet" href="bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript" src="dragdrop.js"></script>
</head>

<body>

<header>
	<div class="container">
		<h1>
			Image Preview Tool
		</h1>
	</div>
</header>

<main id="main">
	<div class="container">
		<div class="card" v-on:dragover="dragOver" v-on:dragexit="dragExit" v-on:drop="drop" v-bind:class="{ dragOver: currentlyDragOver }">
			<div class="card-body">
				<h2>
					Drag Your Image
				</h2>
				
				<div>
					<div v-if="!file.data">
						---
					</div>
					
					<div v-if="file.data">
						<p>
							<img v-if="file.data" :src="file.data">
						</p>
						
						<dl>
							<dt>File Name</dt>
							<dd>{{ file.name }}</dd>
							<dt>File Mimetype</dt>
							<dd>{{ file.type }}</dd>
							<dt>File Size</dt>
							<dd>{{ file.size }}</dd>
						</dl>
						
						<button type="reset" class="btn btn-danger" v-on:click="reset()">
							&times;
							Delete
						</button>
					</div>
					
					<div class="alert alert-danger" v-if="errorMessage">
						<strong>Error:</strong>
						{{ errorMessage }}
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<footer>
	<div class="container">
		&copy; Joseph Odom 2019
	</div>
</footer>

</body>

</html>